html{
    font-style:Roboto ;
}
#intro{
color: orange;
font-size: small;
display: flex;

}
.open{
    margin: 30px;
    line-height: 60px;
    color: white;
}
.nav{
    color: rgb(241,148,47);
    margin: 50px;
    display: flex;
    float: right;
    display: inline;
}
.phase1{
    background-color: black;
}
